@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --primary-color: 'white';
    --secondary-color:#63606C;
    --accent-color1: #D528A6;
    --accent-color2: #0057FF;
    --accent-color3: #2D5E79;
    --accent-color4:#272138;
    --background: #111111;
    --font-family: "Inter", sans-serif;
  }
  
  [data-theme="light"] {
    --background: #ffffff;
    --accent-color1: #000000;
    --accent-color2: #eeeeee;
    --accent-color3: #777777;
  }


  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--primary-color);
  }

  html {
    scroll-behavior: smooth;
  }

  .app-container{
    background-color: var(--primary-color);
    font-family:var(--font-family);
    height: 300vh;
    // overflow-x: hidden;
    transition: 0.5s ease-in-out;
    padding: 2rem 4rem;
    @media screen and (min-width:280px) and (max-width:1080px){
        padding: 0;
        &::-webkit-scrollbar{
            display:none;
        }
    }
  }
  
  ::-webkit-scrollbar{
    background-color: #111111;
    width: 0.2rem;
  }

  ::-webkit-scrollbar-thumb{
    background-color: var(--accent-color1);
  }